parameters:
    level: max
    paths:
        - src
        - tests
    tmpDir: build/phpstan
    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: method.alreadyNarrowedType
